{% load i18n %}{% autoescape off %}
{% blocktranslate %}Olet saanut tämän viestin, koska pyysit salasanan nollausta sivulta {{ site_name }}.{% endblocktranslate %}

{% translate "Mene seuraavalle sivulle luodaksesi uuden salasanan:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Sinun käyttäjänimesi, mikäli olet unohtanut:' %} {{ user.get_username }}

{% translate "Kiitos vierailustasi sivullamme!" %}

{% blocktranslate %}{{ site_name }} - tiimi{% endblocktranslate %}

{% endautoescape %}